body, caption, th, td, input, textarea, select, option, legend, fieldset,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: 'Lexend', sans-serif;
}

body
{
  color: #0A033B;
  margin: 0;
  padding: 0px;
  background-color: whitesmoke;
}

body.navbar-is-fixed-top
{
  margin-top: 0;
}

a,
a:link,
a:visited
{
  text-decoration: none;
  color: #93A9D7;
  font-style: normal;
  font-weight: 600;

  /*
    From https://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
  */
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}

a:active,
a:hover,
a:focus
{
  color: #222;
}

#admin-menu
{
  font-family: 'Lexend', sans-serif;
  font-size: 0.9em;
  height: 30px;
}

h1
{
  font-size: 1.8em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2
{
  font-size: 1.25em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

h3
{
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.769em;
  margin-bottom: 0.769em;
}

h1.page-header
{
  display: block;
  text-align: center;
  padding-top: 45px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  color: #93A9D7;
  font-size: 2.5em;
}

.path-frontpage h1.page-header
{
  display: none;
}

hr
{
  border-top: 1px solid gray;
  clear: both;
}

.main-container .row
{
  padding-top: 136px;
  margin: 0;
  min-height: 500px;
}

.container
{
  padding: 0;
}

select
{
  cursor: pointer;
}

a img
{
  opacity: 1.0;

  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

a img:hover
{
  opacity: 0.75;

  -moz-transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.btn-primary
{
  background-color: #94AAD6;
  border-radius: 42px !important;
  border-color: #2E6DA4 !important;
}

.btn-primary,
a.btn-primary,
a.btn-primary:link,
a.btn-primary:visited
{
  color: whitesmoke;
}

a.btn-primary:active,
a.btn-primary:hover,
a.btn-primary:focus
{
  color: #0A073B;
}

/* For the MailChimp Subscribe button */
.btn:focus
{
  outline: unset !important;
}

.btn-primary.donate,
a.btn-primary.donate,
a.btn-primary.donate:link,
a.btn-primary.donate:visited
{
  background-color: #FFCD5C;
  border-radius: 42px !important;
  border-color: #2E6DA4 !important;
  color: #0A073B;

  letter-spacing: 0.3rem;
}

.btn-primary.donate.large,
a.btn-primary.donate.large,
a.btn-primary.donate.large:link,
a.btn-primary.donate.large:visited
{
  font-size: 2.0em;
}

a.btn-primary.donate:active,
a.btn-primary.donate:hover,
a.btn-primary.donate:focus
{
  background-color: #286090;
  color: whitesmoke;
}

/*----------------------------------------------------------------------------------------*/
/* Debugging
   Install Devel, Kint
   Turn on Kint debugging in files/default/services.yml which you get from default.services.yml
 */

.kint
{
  padding-top: 90px;
}

/*----------------------------------------------------------------------------------------*/
/*
  Ajax
*/

#ajax-loading
{
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2000;
  width: 58px;
  height: 58px;
  border-radius: 15px;
  margin: 0 auto;
  top: 25px;
  display: none;
  background-color: white;
}

#ajax-loading img
{
  /* Override beo.style.css img setting */
  display: block;

  width: 48px;
  height: auto;
  margin: 5px;
}

/*----------------------------------------------------------------------------------------*/
/*
  Nodes
*/

.page-node-type-front-page .page-header
{
  display: none;
}

.page-node-type-front-page .wow-summary,
.page-node-type-front-page .benefactors-carousel,
.page-node-type-front-page .bottom-section
{
  padding: 40px 0 0 0;
}

.page-node-type-front-page .wow-summary h3
{
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  font-size: 1.5em;
}

.page-node-type-front-page .wow-summary .col-sm-12,
.page-node-type-front-page .benefactors-carousel .col-sm-12
{
  padding: 0;
}

.page-node-type-front-page .wow-summary .col-sm-5,
.page-node-type-front-page .bottom-section .col-sm-6:nth-child(1),
.page-node-type-front-page .block-aw-front-page-blog-block .col-sm-4:nth-child(1)
{
  padding: 0;
}

.page-node-type-front-page .wow-summary .col-sm-7,
.page-node-type-front-page .bottom-section .col-sm-6:nth-child(2),
.page-node-type-front-page .block-aw-front-page-blog-block .col-sm-4
{
  padding: 0;
}

.page-node-type-front-page .block-aw-front-page-blog-block .col-sm-4,
.page-node-type-front-page .block-aw-front-page-blog-block .col-sm-4:nth-child(1)
{
  padding-bottom: 20px;
}

.page-node-type-front-page .bottom-section .col-sm-6:nth-child(2) .views-field-field_image
{
  text-align: center;
  padding-top: 15px;
}

@media (min-width: 768px)
{
  .page-node-type-front-page .block-aw-front-page-blog-block .col-sm-4
  {
    padding: 0 15px;
  }

  .page-node-type-front-page .wow-summary .col-sm-5,
  .page-node-type-front-page .bottom-section .col-sm-6:nth-child(1),
  .page-node-type-front-page .block-aw-front-page-blog-block .col-sm-4:nth-child(1)
  {
    padding-right: 15px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .page-node-type-front-page .wow-summary .col-sm-7,
  .page-node-type-front-page .bottom-section .col-sm-6:nth-child(2),
  .page-node-type-front-page .block-aw-front-page-blog-block .col-sm-4:nth-child(3)
  {
    padding-right: 0;
    padding-left: 15px;
  }

  .page-node-type-front-page .bottom-section .col-sm-6:nth-child(2) .views-field-field_image
  {
    text-align: right;
    padding-top: 0;
  }

}

.page-node-type-front-page .wow-summary .col-sm-5.title
{
  padding: 0;
  padding-bottom: 7px;
}

.page-node-type-front-page .wow-summary .title a
{
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.0em;
}

@media (min-width: 992px)
{
  .page-node-type-front-page .wow-summary .title a
  {
    font-size: 1.5em;
  }
}

@media (max-width: 767px)
{
  .page-node-type-front-page .wow-summary .title a
  {
    font-size: 1.5em;
  }
}

.page-node-type-front-page .wow-summary .views-field-field_html_text
{
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.2em;
  font-weight: bold;
}

.page-node-type-front-page .wow-summary .flexdisplay
{
  position: relative;
  display: block;
}

.page-node-type-front-page .wow-summary .field-append-title
{
  padding-bottom: 10px;
}

.page-node-type-front-page .wow-summary .field-append-title h3
{
  margin: 0;
  padding: 20px 0;
}

.page-node-type-front-page .wow-summary .field-append-button
{
  position: relative;
}

@media (min-width: 768px)
{
  .page-node-type-front-page .wow-summary .flexdisplay
  {
    display: flex;
  }

  /*
    This way, if the image is not as tall as the text
    there will still be enough room at the bottom so that
    the button will not overlap.
  */
  .page-node-type-front-page .wow-summary .field-append-title
  {
    padding-bottom: 40px;
  }

  .page-node-type-front-page .wow-summary .field-append-button
  {
    position: absolute;
    bottom: 0;
  }
}

.page-node-type-wow .page-header,
.page-node-type-blog .page-header
{
  text-align: center;
  padding: 0;
  margin: 0;
}

.page-node-type-wow .field--name-field-row-of-image-text .field--item,
.page-node-type-blog .field--name-field-row-of-image-text .field--item
{
  padding-bottom: 15px;
}

.page-node-type-wow .field--name-field-post-date,
.page-node-type-blog .field--name-field-post-date
{
  text-align: center;
  font-style: italic;
  padding-bottom: 9px;
}

/*----------------------------------------------------------------------------------------*/
/*
  Forms
*/

#contact-message-feedback-form .form-actions
{
  padding-top: 10px;
}

.aplos
{
  padding-top: 0px;
  padding: 15px 0;
  text-align: center;
}

.aplos div
{
  clear: both;
  padding-bottom: 20px;
}

@media (min-width: 768px)
{
  .aplos
  {
    padding-top: 45px;
    padding-bottom: 0px;
  }
}

#mc-embedded-subscribe
{
  margin: 0 !important;
  font-weight: bold;
}

/*----------------------------------------------------------------------------------------*/
/*
  Menus
*/

.navbar-fixed-top
{
  height: 136px;
}

.navbar
{
  margin-bottom: 0;
}

#block-custommainmenu,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form
{
  background-color: whitesmoke;
}

@media (max-width: 767px)
{
  div.navbar-collapse
  {
    /* Needed to cover the search bar. */
    z-index: 10;
  }
}

#block-custommainmenu
{
  padding-top: 0;
}

@media (min-width: 768px)
{
  #block-custommainmenu
  {
    padding-top: 101px;
  }
}

.navbar-inverse
{
  background-color: whitesmoke;
  border: none;
}

.navbar-inverse .navbar-nav > li > a
{
  color: #0A033B;
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 1.0em;
}

/*
  From https://www.google.com/search?q=drupal+menu+link+front+not+active&oq=drupal+menu+link+front+not+active
  There's an issue when the href does not match data-drupal-link-system-path in the menu links.
  That's why I added a.is-active, since the parent li did not have an active class added.
*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a.is-active
{
  color: #93A9D7;
  background-color: transparent;
}

/*
  For now, they want the same color as .active.
*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
{
  color: #93A9D7;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus
{
  color: #93A9D7;
  background-color: whitesmoke;
}

/*
  From https://stackoverflow.com/questions/3331353/transitions-on-the-css-display-property
  Instead, I decided to use the technique from
  http://d7.thecarneyeffect.co.uk/drupal-bootstrap-navbar-drowpdown-hover-fade-transition
  as the fade out worked.
*/

.dropdown-menu
{
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 0;
}

.open > .dropdown-menu
{
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

/*
  Only change background & such for desktop menu.
*/
@media (min-width: 768px)
{
  .open > .dropdown-menu,
  .dropdown-menu > li > a
  {
    color: white;
    background: rgba(26, 26, 49, 0.3);
  }
}

.expanded.dropdown .caret,
.expanded.dropdown.open .caret
{
  color: #0A033B;
}

.navbar-header
{
  width: 100%;
}

@media (min-width: 768px)
{
  .navbar .navbar-nav
  {
    float: right;
  }

  .navbar-nav > li > a
  {
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

@media (max-width: 767px)
{
  div.navbar-collapse
  {
    width: 179px;
  }
}

.container > .navbar-header
{
  padding-left: 25px;
  position: absolute;

  /* Otherwise, Axia Women header label was off the screen on mobile. */
  margin: 0;
}

/*
  Otherwise you get scroll bars when expanding sub-menu.
  Overrides setting in navbar-less where overflow-y: auto;
  And table is needed for when sub-menu is selected. Otherwise,
  the menu won't grow.
*/
#navbar-collapse.in
{
  overflow-y: hidden;
  display: table;
}

/*
  For some reason, the dropdown menu is expanding to 280px, then adjusting
  to the correct size. Below fixes this issue. However, if the
  main menu grows (probably won't), this will have to be adjusted.
*/
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse
{
  max-height: 217px;
}

.navbar-toggle
{
  background-color: #93A9D7;
}

/*----------------------------------------------------------------------------------------------------*/
/*
  Contact Form
*/

.captcha .panel-heading
{
  display: none;
}

#contact-message-feedback-form label
{
  display: none;
}


/*----------------------------------------------------------------------------------------*/
/* Header */
/* img is set to display: none in beo.styles.css */

#block-header
{
  position: absolute;
}

#block-header a
{
  font-size: 2.0em;
}

#block-header #logo-circle,
#block-header #logo-text
{
  float: left;
}

#block-header #logo-text
{
  padding-left: 20px;
  padding-top: 30px;
}

/* The height here matches the height of the header.navbar-fixed-top */
#block-header #logo-circle img
{
  display: block;
  height: 115px;
  width: auto;
  margin: 0;
  margin-top: 10px;
}

#block-header #logo-text img
{
  display: block;
  height: 60px;
  width: auto;
  margin: 0;
}

.search-block-form
{
  /* If you don't use fixed, then the search shoves the menu off the header. */
  width: 50%;
  float: right;
  padding-top: unset;
  padding-right: unset;
  top: 93px;
  right: 31px;
  position: fixed;
}

@media (min-width: 768px)
{
  .search-block-form
  {
    padding-top: 5px;
    padding-right: 15px;
    top: unset;
    right: unset;
    width: 320px;
    position: relative;
  }
}

/*----------------------------------------------------------------------------------------*/
/* Footer */

/* img is set to display: none in beo.styles.css */
.footer img
{
  display: block;
}

.footer .instagram img,
.footer .facebook img,
.footer .youtube img
{
  height: 28px;
  width: auto;
}

.footer .donate img
{
  height: 28px;
  width: auto;
}

.footer .instagram,
.footer .facebook,
.footer .youtube,
.footer .donate
{
  text-align: center;
  padding: 5px;
}

.footer .instagram a,
.footer .facebook a,
.footer .youtube a,
.footer .donate a
{
  display: inline-block;
}

.footer
{
  background-size: 100% 100%;
  margin: 0 auto;
  border: none;
  background-color: #93A9D7;
  color: white;
  padding: 20px 0;
  margin-top: 75px;
}

.footer a,
.footer a:link,
.footer a:visited
{
  color: #0A073B;
}

.footer a:active,
.footer a:hover,
.footer a:focus
{
  color: whitesmoke;
}

.footer .textsection
{
  text-align: center;
}

@media (min-width: 768px)
{
  .footer .textsection
  {
    text-align: left;
  }
}

#block-footer a,
#block-footer h3
{
  text-align: center;
  letter-spacing: 0.3rem;
}


.footer .login,
.footer .copyright
{
  text-align: center;
  font-size: 0.9em;
  padding-top: 20px;
  line-height: 1.4em;
  overflow: hidden;
}

.footer .credits
{
  font-size: 0.8em;
  text-align: center;
  padding-top: 10px;
}

.user-logged-in .footer .login
{
  display: none;
}

/*----------------------------------------------------------------------------------------*/
/* Blocks */

.block-aw-derived-from-front-page-block,
.block-aw-front-page-blog-block,
.block-aw-all-images-block,
.block-aw-all-blogs-block,
.block-aw-all-wow-block,
.block-aw-front-page-blog-block
{
  width: 100%;
}

.block-aw-front-page-blog-block
{
  overflow: hidden;
  padding: 40px 0 0 0;
}

.block-aw-front-page-blog-block .row
{
  padding: 0;
  min-height: 0;
  display: block;
}

@media (min-width: 768px)
{
  .block-aw-front-page-blog-block .row
  {
    /* From https://stackoverflow.com/questions/11225912/make-div-height-occupy-parent-remaining-height */
    display: flex;
  }
}

.block-aw-all-images-block .views-field-title,
.block-aw-all-blogs-block .views-field-title,
.block-aw-all-wow-block .views-field-title,
.block-aw-front-page-blog-block .views-field-title
{
  font-weight: 600;
  font-size: 2.0em;
  text-align: center;
  margin-top: 0px;
  height: unset;
  overflow: hidden;
}

@media (min-width: 768px)
{
  .block-aw-all-images-block .views-field-title,
  .block-aw-all-blogs-block .views-field-title,
  .block-aw-all-wow-block .views-field-title,
  .block-aw-front-page-blog-block .views-field-title
  {
    height: 3.0em;
  }
}

.block-aw-all-images-block .views-field-title
{
  margin-top: 2px;
}

.block-aw-all-images-block .views-field-copyright
{
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.block-aw-all-images-block .views-field-field_image,
.block-aw-all-blogs-block .views-field-field_image,
.block-aw-all-wow-block .views-field-field_image,
.block-aw-front-page-blog-block .views-field-field_image
{
  text-align: center;
}

.block-aw-all-blogs-block .views-field-field-post-date,
.block-aw-all-wow-block .views-field-field-post-date,
.block-aw-front-page-blog-block .views-field-field-post-date
{
  font-style: italic;
  padding-bottom: 25px;
  font-size: 0.9em;
  text-align: center;
}

.block-aw-front-page-blog-block .views-field-field_html_text
{
  padding: 7px 0 0 0;
}

.block-aw-all-blogs-block .views-field-more-button,
.block-aw-all-wow-block .views-field-more-button
{
  padding: 10px 0;
}

@media (min-width: 768px)
{
  .block-aw-front-page-blog-block .col-sm-12
  {
    flex-direction: row;
  }
}


.block-aw-front-page-blog-block .views-row
{
  flex-grow: 1;
  position: relative;
}

.block-aw-front-page-blog-block .views-field-more-button
{
  padding-top: 40px;
}

.block-aw-front-page-blog-block .row0
{
  background-color: whitesmoke;
}

.block-aw-front-page-blog-block .row1
{
  background-color: whitesmoke;
}

.block-aw-front-page-blog-block .row2
{
  background-color: whitesmoke;
}

.block-aw-all-blogs-block .views-row,
.block-aw-all-wow-block .views-row,
.block-aw-all-images-block .views-row
{
  padding: 15px 0;
}

.block-aw-all-blogs-block .views-row:nth-child(even),
.block-aw-all-wow-block .views-row:nth-child(even),
.block-aw-all-images-block .views-row:nth-child(even)
{
  background-color: initial;
}

@media (min-width: 768px)
{
  .block-aw-all-blogs-block .views-row:nth-child(even),
  .block-aw-all-wow-block .views-row:nth-child(even),
  .block-aw-all-images-block .views-row:nth-child(even)
  {
    background-color: lightgrey;
  }
}

.page-node-type-page .field--name-field-row-of-image-text .col-sm-12
{
  padding: 20px 0;
}

.page-node-type-page .field--name-field-row-of-image-text .col-sm-12:nth-child(even)
{
  background-color: lightgrey;
}

#block-wowlisting
{
  padding: 15px 0;
}

#block-paypal
{
  padding-top: 30px;
}


#block-aw-benefactors-block .row
{
  padding: 0;
  min-height: 0;
}

#block-aw-benefactors-block .row.category
{
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
}

#block-aw-benefactors-block .views-field-title
{
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
}

#block-aw-benefactors-block .champion .views-field-title
{
  text-align: left;
  font-weight: 600;
  font-size: 1.5em;
}

#block-aw-benefactors-block .views-field-field_image
{
  text-align: center;
}

#block-aw-benefactors-carousel-block
{
  background: #93A9D7;
}

#block-aw-benefactors-carousel-block .row
{
  /*
    Needed also for the next & previous buttons.
    Otherwise, with small screen widths, they
    are off the screen.
  */
  padding: 0;
  min-height: unset;
}

#block-aw-benefactors-carousel-block h3
{
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
  padding: 14px 0;
}

#block-aw-benefactors-carousel-block .slick-slider
{
  text-align: center;
}

#block-aw-benefactors-carousel-block .slick-caption
{
  padding: 7px 0 14px;
}

#block-aw-benefactors-carousel-block .slick-caption a
{
  color: whitesmoke;
}

#block-aw-benefactors-carousel-block .slick-caption a,
#block-aw-benefactors-carousel-block .slick-caption a:link,
#block-aw-benefactors-carousel-block .slick-caption a:visited
{
  color: whitesmoke;
}

#block-aw-benefactors-carousel-block .slick-caption a:active,
#block-aw-benefactors-carousel-block .slick-caption a:hover,
#block-aw-benefactors-carousel-block .slick-caption a:focus
{
  color: #0A073B;
}

/*----------------------------------------------------------------------------------------*/
/* Parallax */

/* img is set to display: none in beo.styles.css */
.parallax-mirror img
{
  display: block;
}

/* The min-height/height will be calculated in the generating block. */
.parallax-window
{
  background: transparent;
  display: block;
  position: relative;
}

.parallax-window .parallax-text
{
  position: absolute;
  z-index: 999;
  left: 0;
  top: 33%; /* Adjust this value to move the positioned div up and down */
  padding: 10px 25px;
  color: whitesmoke;
  background: rgba(26, 26, 49, 0.3);
}

.parallax-window .parallax-text a,
.parallax-window .parallax-text a:link,
.parallax-window .parallax-text a:visited
{
  color: #EAAD6A;
  letter-spacing: 0.3rem;
}

/* Weird. I had to reset here also. */
.parallax-window .parallax-text a:active,
.parallax-window .parallax-text a:hover,
.parallax-window .parallax-text a:focus
{
  color: lightgray;
}

.top-parallax,
.middle-parallax
{
  padding: 0;
}
