body, caption, th, td, input, textarea, select, option, legend, fieldset,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: 'Fjalla One', sans-serif;
}

body
{
  color: #222;
  margin: 0;
  padding: 0px;
  background-color: whitesmoke;
}

body.navbar-is-fixed-top
{
  margin-top: 0;
}

a,
a:link,
a:visited
{
  text-decoration: none;
  color: darkcyan;
  font-style: normal;
  font-weight: bold;

  /*
    From https://stackoverflow.com/questions/6008324/fade-effect-on-link-hover
  */
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}

a:active,
a:hover,
a:focus
{
  color: #222;
}

#ajax-loading
{
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2000;
  width: 58px;
  height: 58px;
  border-radius: 15px;
  margin: 0 auto;
  top: 25px;
  display: none;
  background-color: white;
}

#ajax-loading img
{
  width: 48px;
  height: auto;
  margin: 5px;
}

#admin-menu
{
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.9em;
  height: 30px;
}

h1
{
  font-size: 1.8em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2
{
  font-size: 1.25em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

h3
{
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.769em;
  margin-bottom: 0.769em;
}

hr
{
  border-top: 1px solid gray;
  clear: both;
}

.container
{
  padding: 0;
}

select
{
  cursor: pointer;
}

/*----------------------------------------------------------------------------------------*/
/*
  Contact form
*/
#contact-message-feedback-form .form-actions
{
  padding-top: 10px;
}

/*----------------------------------------------------------------------------------------*/
/*
  Menus
*/

#block-header a
{
  font-size: 2.0em;
}

/*----------------------------------------------------------------------------------------------------*/
/*
  Menu
*/

#block-custommainmenu,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form
{
  background-color: #002C54;
}

.navbar-inverse .navbar-nav > li > a
{
  color: white;
  font-weight: bold;
}

.navbar-inverse
{
  background-color: whitesmoke;
  border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
  color: #EFD797;
  background-color: #002C54;
}

.navbar-header
{
  width: 100%;
}

@media (min-width: 768px)
{
  .navbar .navbar-nav
  {
    float: right;
  }

  .navbar-nav > li > a
  {
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

/*
  Weird, but otherwise you get scroll bars when expanding sub-menu.
*/
#navbar-collapse.in
{
  overflow: hidden;
  display: table;
}

/*----------------------------------------------------------------------------------------------------*/
/*
  Contact Form
*/

.captcha .panel-heading
{
  display: none;
}

#contact-message-feedback-form label
{
  display: none;
}

/*----------------------------------------------------------------------------------------*/
/* Footer */

.footer
{
  background-size: 100% 100%;
  margin: 0 auto;
  border: none;
  background-color: #222;
  color: white;
  padding: 20px 0;
}

.footer a,
.footer a:link,
.footer a:visited
{
  color: #A6A6A6;
}

.footer a:active,
.footer a:hover,
.footer a:focus
{
  color: white;
}

/*----------------------------------------------------------------------------------------*/
/* Views */

.view-front-page-blogs
{
  overflow: hidden;
  background-color: linen;
  padding-bottom: 20px;
}

.view-front-page-blogs .views-field-title
{
  font-weight: bold;
  text-align: center;
}

.view-front-page-blogs .views-field-field-post-date
{
  font-style: italic;
  padding-bottom: 10px;
  font-size: 0.9em;
  text-align: center;
}

.view-front-page-blogs .views-field-body .col-sm-5,
.view-front-page-blogs .views-field-body .col-sm-7
{
  width: 100%;
}

/*----------------------------------------------------------------------------------------*/


